.image-container {
    display: flex;
    align-items: left;
  }
  
  .image-container img {
    width: 75px; 
    height: 75px;
  }

  .image-container p {
    margin: 0;
  }
  
  .text-container {
    text-align: left;
    margin-left: 10px;
  }
  hr {
    margin: 0;
  }
