{% extends 'admin/base.html' %}


{% block content %}

<div>
  <h2> Добавить новую категорию </h2>
  <form action="" method="post">
    {{ form1.hidden_tag() }}
    <p>
      {{ form1.name.label }}
      {{ form1.name }}
      {% for error in form1.name.errors %}
        <div class="alert alert-danger" style="color: red;" role="alert">
          {{ error }}
        </div>
      {% endfor %}
    </p>
    <p>
      {{ form1.submit }}
    </p>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" style="color: red;" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </form>
</div>
<div>
  <h2> Добавить новую подкатегорию </h2>
  <form action="" method="post">
    {{ form2.hidden_tag() }}
    <p>
      {{ form2.name.label }}
      {{ form2.name }}
      {% for error in form2.name.errors %}
        <div class="alert alert-danger" style="color: red;" role="alert">
          {{ error }}
        </div>
      {% endfor %}
    </p>
    <p>
      {{ form2.submit }}
    </p>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" style="color: red;" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </form>
</div>
<div>
  <h3>Список Категорий!</h3>
  <h4 style="color: red">
    Внимание! При удалении категории, также удаляются все товары и подкатегории, которые были в данной категории!
  </h4>
  <table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Действие</th>
      </tr>
    </thead>
    {% for section in show_sections %}
      <tbody>
        <tr>
          <td>{{ section.name.capitalize() }}</td>
          <td>
            <ul>
              <li>
                <div>
                  <form action="{{ url_for('admin.delete')}}" method="post">
                    <input type="hidden" name="type" value="sections">
                    <input type="hidden" name="get-id" value="{{ section.id }}">
                    <input type="checkbox" name="confirm" value="1">
                    <input type="submit" value="Удалить">
                  </form>
                </div>
              </li>
              <li>Редактировать</li>
            </ul>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}