{% extends 'admin/base.html' %}


{% block content %}

<div>
  <h2> Добавить новую категорию </h2>  
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      {{ form.name }}
      {% for error in form.name.errors %}
        <div class="alert alert-danger" style="color: red;" role="alert">
          {{ error }}
        </div>
      {% endfor %}
    </p>
    <p>
      {{ form.submit }}
    </p>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger" style="color: red;" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </form>
</div>
<div>
  <h3>Список Категорий!</h3>
  <table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Действие</th>
      </tr>
    </thead>
    {% for sec in show_sections %}
      <tbody>
        <tr>
          <td>{{ sec.name.capitalize() }}</td>
          <td>
            <ul>
              <li>Удалить</li>
              <li>Редактировать</li>
            </ul>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}