{% extends 'admin/base.html' %}


{% block content %}

<div>
    <a href="{{ url_for('admin.logout') }}">Выйти из админ панели</a>
</div>
<div>
    <a href="{{ url_for('admin.add_sections') }}">Редактировать категории</a>
</div>
<div>
  <h2> Добавить новый товар </h2>  
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
      {{ form.select_section.label }} 
      {{ form.select_section }}
    </p>
    <p>
      {{ form.select_sub_section.label }} 
      {{ form.select_sub_section }}
    </p>
    <p>
      {{ form.name.label }}
      {{ form.name }}
    </p>
    <p>
      {{ form.price.label }}
      {{ form.price }}
    </p>
    <p>
      {{ form.about.label }} <br>
      {{ form.about }}
    </p>
    <p>
      {{ form.upload.label }} <br>
      {{ form.upload }}
    </p>
    <p>
      {{ form.submit }}
    </p>
  </form>
</div>
<br>
<div>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" style="color: red;" role="alert">
      {{ message }}
    </div>
  {% endfor %}
</div>
<div>
  {% for product in show_products %}
    <h3>id:{{ product.id }} {{ product.name }}</h3>
    <p>
      Цена: {{ product.price }} за 1 уп.
    </p>
    <p>
      <form action="{{ url_for('admin.update_product_status')}}" method="post">
        В наличии: {% if product.is_active %} Да {% else %} Нет {% endif %}
        <input type="hidden" name="get-id" value="{{ product.id }}">
        <input type="checkbox" name="confirm" value="1">
        <input type="submit" value="Изменить">
      </form>
    </p>
    <p>
      Категория: {{ product.section.name.capitalize() }}
    </p>
    <p>
      Подкатегория: {{ product.sub_section.name.capitalize() }}
    </p>
    <p>
      {% if product.about %}
        Описание: <br>
        {{ product.about }}
      {% else %}
        Описание: <br>
        Отсутствует
      {% endif %}
  </p>
    <div>
      <form action="{{ url_for('admin.delete')}}" method="post">
        <input type="hidden" name="type" value="product">
        <input type="hidden" name="get-id" value="{{ product.id }}">
        <input type="checkbox" name="confirm" value="1">
        <input type="submit" value="Удалить">
      </form>
    </div>
    <p>
      <img src="{{ url_for('static', filename=product.img_link) }}" alt="ImgError"/>
    </p>
  {% endfor %}
</div>

{% endblock %}