{% extends "admin/base.html" %}


{% block content %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" style="color: red;" role="alert">
      {{ message }}
    </div>
  {% endfor %}
  <form action="" method="post">
    <label for="name">Ввeдите номер заказа:</label>
    <input type="text" name="get_id">
    <input type="submit" value="Отправить">
  </form>
  {% if history_sales %}
    {% for order in history_sales.h_prod %}
    <div class="image-container">
      <div class="text-container">
        <img src="{{ order.img_link }}" alt="Изображение 1">
      </div>
      <div class="text-container">
        <p>{{ order.name_product }}</p>
        <p>{{ order.section}}</p>
      </div>
      <div class="text-container">
        <p>{{ order.sub_section}}</p>
        <p>{{ order.name_user }}</p>
      </div>
      <div class="text-container">
        <p>{{ order.email_user }}</p>
        <p>{{ order.phone_user }}</p>
      </div>
      <div class="text-container">
        <p>{{ order.count}} шт.</p>
        <p>{{ order.total_price}} р.</p>
      </div>
    </div>
      <hr>
    {% endfor %}
  {% endif %}
  
{% endblock %}
