{% extends "base.html" %}


{% block content %}
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger" style="color: red;" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% for product, count in products_and_count %}
    {% if product.is_active %}
      <div>
        <a href="{{ url_for('main.index') }}{{ product.id }}" target="_blank" rel="noopener noreferrer">      
          <h2>{{ product.name }}</h2>
        </a>
        <p>Цена: {{ product.price }} р.</p>
        <p class="price-element" style="display: none;">{{ product.price }}</p>
        <form action="{{ url_for('basket.update_product_in_basket') }}" method="post">
          <input type="number" step="1" min="1" max="100" value="{{ count }}" class="quantity" name="cost"/>
          <input type="hidden" name="get_id" value="{{ product.id }}">
          <input type="submit" value="Изменить количество">
        </form>
        <p class="total-cost">Общая стоимость: <span class="total-cost-value">{{ product.price | int * count | int }} р.</span></p>
        <a href="{{ url_for('main.index') }}{{ product.id }}" target="_blank" rel="noopener noreferrer">      
          <div>
            <img src="{{ url_for('static', filename=product.img_link) }}" alt="product_img">
          </div>
        </a>
        <form method="post" action="{{ url_for('basket.delete_product') }}">
          <input type="hidden" name="get_id" value="{{ product.id }}">
          <button type="submit">Удалить</button>
        </form>
      </div>
    {% endif %}
  {% endfor %}
  <div>
    <p id="total-cost-all-products">Итого: <span id="total-cost-all-products-value">0 р.</span></p>
    <div>
      <h2>Оформить Заказ!</h2>
      <form method="post" action="{{ url_for('basket.by_basket') }}">
        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}<br>
          {{ form.name }}
          {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert", style="color:red">
              {{ error }}
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.email.label }}<br>
          {{ form.email }}
          {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert", style="color:red">
              {{ error }}
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.phone_number.label }}<br>
          {{ form.phone_number }}
          {% for error in form.phone_number.errors %}
            <div class="alert alert-danger" role="alert", style="color:red">
              {{ error }}
            </div>
          {% endfor %}
        </p>
        <div>
          <a href="{{ url_for('main.sell_and_by') }}">Перед заказом ознакомьтесь с условиями "Оплаты и Доставки!</a>
        <p>
          {{ form.submit }}
        </p>
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {% include 'basket/_scripts.html' %}
{% endblock %}
