{% extends "base.html" %}


{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="justify-content-center">
    <h1>Спасибо за покупку</h1>
    <h4>Номер вашего заказа: {{ order_id }}</h4>
    <p>
      Сохраните номер вашего заказа, пержде чем закрыть эту страницу.
    </p>
    <p>
      Благодарим за заказ!<br>Мы стремимся быть лучшими, находя и выращивая для
      вас самые интересныеивкусные томаты. Спасибо, что выбрали нас.
    </p>
    <p>
      Подробности о вашем заказе были отправлены на указанную вами почту.<br>
      Также, позже мы свяжемся с вами по этой почте, для уточнения деталей
      заказа.
    </p>
    <p>
      Внимание!!! Письмо может попасть в папку спам! Не забудьте проверить
      папку спам в вашем почтовом ящике!
    </p>
    <p>
      Если вы так и не получили письмо, можете связаться с нами в раздле:
      <a href="{{ url_for('main.contacts') }}">Контакты</a>. Не забудьте
      сообщить нам номер вашего заказа.
    </p>
{% endblock %}
