{% extends "base.html" %}


{% block content %}
  <div id="item-list">
    <div>
      <h2>{{ product.name }}</h2>
      <p>Цена: {{ product.price }} р.</p>
      {% if product.about %}
        <p>Описание: {{ product.about }}</p>
      {% endif %}
      <div>
        <img src="{{ url_for('static', filename=product.img_link) }}" alt="product_img">
      </div>
    </div>
  </div>
  <div>
    <form action="{{ url_for('slug.add_to_basket') }}" method="post">
      {% if data_basket and p_id in data_basket %}
        <input type="number" step="1" min="1" max="100" value="{{data_basket[p_id]}}" id="age" name="cost"/>
      {% else %}
        <input type="number" step="1" min="1" max="100" value="1" id="age" name="cost"/>
      {% endif %}
      <input type="hidden" name="get_id" value="{{ product.id }}">
      <input type="submit" value="Добавить в корзину">
    </form>
  </div>
{% endblock %}