{% extends "base.html" %}


{% block content %}
  <div>
    <h2>Выбрать товар из категории</h2>
    <form action="/update-puduct" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.select_section2.label }}
        {{ form.select_section2 }}
      </p>
      <p>
        {{ form.select_sub_section2.label }}
        {{ form.select_sub_section2 }}
      </p>
      <p>
        {{ form.submit1 }}
        {{ form.submit2 }}
      </p>
    </form>
  </div>
  <div id="item-list">
    {% for item in items %}
        <!-- Отображение элемента здесь -->
        <p>{{ item.price }}</p>
    {% endfor %}
  </div>

  <button id="load-more-btn">Показать еще</button>

{% endblock %}


{% block scripts %}
  {% include '_scripts.html' %}
{% endblock %}