{% extends "base.html" %}


{% block content %}
  <div>
    <form action="/search" method="post">
      {{ form2.hidden_tag() }}
      <p>
        {{ form2.input_search.label }}
        {{ form2.input_search }}
        {{ form2.submit }}
        {% for error in form2.input_search.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      </p>
    </form>
  </div>
  <div>
    <h2>Последняя новость</h2>
    <p>
      <h3>{{ last_news.name }}</h3>
      {{ last_news.post }}
    </p>
  </div>
  <div>
    <h2>Выбрать товар из категории</h2>
    <form action="/update-puduct" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.select_section2.label }}
        {{ form.select_section2 }}
      </p>
      <p>
        {{ form.select_sub_section2.label }}
        {{ form.select_sub_section2 }}
      </p>
      <p>
        {{ form.submit1 }}
        {{ form.submit2 }}
      </p>
    </form>
  </div>
  <div id="item-list">
    {% for product in products %}
      {% if product.is_active %}
        <div onclick="location.href='{{ url_for('main.index') }}{{ product.id }}'">
          <h2>{{ product.name }}</h2>
          <p>Цена: {{ product.price }} р.</p>
          {% if product.about %}
            <p>Описание: {{ product.about }}</p>
          {% endif %}
          <div>
            <img src="{{ url_for('static', filename=product.img_link) }}" alt="product_img">
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <button id="load-more-btn">Показать еще</button>

{% endblock %}


{% block scripts %}
  {% include '_scripts.html' %}
{% endblock %}