<div id="item-list">
  {% for product in products %}
    {% if product.is_active %}
      <a href="{{ url_for('main.index') }}{{ product.id }}" target="_blank" rel="noopener noreferrer">
        <h2>{{ product.name }}</h2>
        <p>Цена: {{ product.price }} р.</p>
        {% if product.about %}
          <p>Описание: {{ product.about }}</p>
        {% endif %}
        <div>
          <img src="{{ url_for('static', filename=product.img_link) }}" alt="product_img">
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>