{% extends "base.html" %}


{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
  <h1>Поиск товара</h1>
  <form action="/search" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.input_search.label }}
      {{ form.input_search(class_="form-control") }}
      {{ form.submit(class_="btn btn-primary mt-2") }}
      {% for error in form.input_search.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
      {% for message in get_flashed_messages() %}
        <div style="color: red;">{{ message }}</div>
      {% endfor %}
    </p>
  </form>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center" id="item-list">
    {% if products %}
      {% for product in products %}
        {% if product.is_active %}
          <div class="col-xl-4 col-md-6 col-sm-12 d-flex">
            <div class="card mb-5 w-100">
              <div class="card-body d-flex flex-column justify-content-between">
                <a href="{{ url_for('main.index') }}{{ product.id }}" class="text-decoration-none text-dark" rel="noopener noreferrer">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">Цена: {{ product.price }} р.</p>
                  {% if product.about %}
                    <p class="card-text">Описание: {{ product.about }}</p>
                  {% endif %}
                  <img src="{{ url_for('static', filename=product.img_link) }}" class="card-img-top" alt="product_img">
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
